@media screen and (max-width: 950px) {
body {
    height: 1200px;
}

    .calc {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 0;
        
    }
    .div3 {
        margin-left: -10px;
        width: 90%;
    }
    .input {
        width: 90%;
        padding-right: 0;
        
        
    }
    .amount {
        width: 90%;
    }
    .ep {
        margin-bottom: 10px;
    }
    .label1 {
        width: 90%;
        
    }
    #emp {
        margin-left: 27%;
    }
    .label1 input {
        width: 100%;
        margin-top: 20px;
    }
    .amount {
        width: 100%;
        
    }
    .number label {
        font-size: 23px;
        margin-bottom: 0;
    }
    .amount h2 {
        width: 40%;
        font-size: 25px;
        height: 50px;
    }
    .me i {
        margin-top: 10px;
        font-size: 20px;
    }
    .amount input {
        width: 40%;
        height: 50px;
    }
    .number input {
        width: 95%;
        margin-top: 20px;
        margin-top: 0
    }
    
    
    .see {
        
        margin-right: 0;
    }
    .Select {
        font-size: 23px;
    }
    input {
        font-size: 23px;
    }
    .label1 label {
        font-size: 23px;
        margin-bottom: 0;
    }
    .me input {
        margin-top: 0;
    }
    .number button {
        margin-left: 25%;
        font-size: 25px;
        width: 50%;
        margin-top: 40px;
    }
    
}